BODS ATLS/DIS/DA DIS Conversion Tool/DIS Conversion Tool/DA_DIS_Conversion_Tool/Files/FrmtDef.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="FmtDef">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="SkipLines" type="xs:unsignedByte" />
        <xs:element name="CommentString" type="xs:string" />
        <xs:element name="Tables">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="Table">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute name="PK" type="xs:string" use="optional" />
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Fixed">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="Field">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Start" type="xs:unsignedInt" />
                    <xs:element name="Length" type="xs:unsignedInt" />
                    <xs:element name="Table" type="xs:string" />
                    <xs:element name="Column" type="xs:string" />
                    <xs:element minOccurs="0" name="Mapping">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element maxOccurs="unbounded" name="Map">
                            <xs:complexType>
                              <xs:attribute name="From" type="xs:string" use="required" />
                              <xs:attribute name="To" type="xs:string" use="required" />
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute name="Default" type="xs:string" use="required" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
