BODS ATLS/Positive Pay/Positive_Pay.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="POSITIVE_PAY">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Positive_Pay_Type" type="xs:string"/>
        <xs:element name="AccountLen"  type="xs:string" />
        <xs:element name="BankFormat"  type="xs:string" />
        <xs:element name="Account_ID"  type="xs:string" />
        <xs:element name="ManuallyChangeDateRange"  type="xs:string" />
        <xs:element name="From_Date"  type="xs:string" />
        <xs:element name="To_Date"  type="xs:string" />
        <xs:element name="Target_File"  type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>