BODS ATLS/DIS/Template-rMA 15.1/DISXMLSchema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="DIS">
    <xs:complexType>
      <xs:all>
			<xs:element name="Verification_Flag" type="xs:int"/>
			<xs:element name="Number_of_Areas_Importing" type="xs:int"/>
			<xs:element name="Employees_Flag" type="xs:int"/>
			<xs:element name="Employees_Import_Supp" type="xs:int"/>
			<xs:element name="Employees_Match_Employee_ID" type="xs:int"/>
			<xs:element name="Employees_Update_Blank_Zero" type="xs:int"/>
			<xs:element name="Employees_Update_Address_Blank_Zero" type="xs:int"/>
			<xs:element name="Employees_Create_New_Codes" type="xs:int"/>
			<xs:element name="Employees_Match_Entity_Id" type="xs:int"/>
			<xs:element name="OrgHier_Flag" type="xs:int"/>
			<xs:element name="OrgHier_Import_Supp" type="xs:int"/>
			<xs:element name="OrgHier_Update_Blank_Zero" type="xs:int"/>
			<xs:element name="OrgHier_Create_New_Codes" type="xs:int"/>
			<xs:element name="Funds_Flag" type="xs:int"/>
			<xs:element name="Funds_Import_Supp" type="xs:int"/>
			<xs:element name="Funds_Open_Claims_Only" type="xs:int"/>
			<xs:element name="Funds_Match_Payee_Name" type="xs:int"/>
			<xs:element name="Funds_Match_Payee_Tax_Id" type="xs:int"/>
			<xs:element name="Funds_Create_New_Codes" type="xs:int"/>
			<xs:element name="Funds_Check_Duplicate_Payments" type="xs:int"/>
			<xs:element name="Funds_Accept_Duplicate_Check_Number" type="xs:int"/>
			<xs:element name="Funds_Import_Cleared_Payments" type="xs:int"/>
			<xs:element name="Funds_Match_Entity_Id" type="xs:int"/>
      <xs:element name="Funds_Import_Multiple_Payees" type="xs:int"/>
			<xs:element name="FundsDeposit_Flag" type="xs:int"/>
      <xs:element name="FundsDeposit_Update_Blank_Zero" type="xs:int"/>
			<xs:element name="FundsDeposit_Create_New_Codes" type="xs:int"/>
			<xs:element name="Vehicles_Flag" type="xs:int"/>
			<xs:element name="Vehicles_Import_Supp" type="xs:int"/>
			<xs:element name="Vehicles_Update_Blank_Zero" type="xs:int"/>
			<xs:element name="Vehicles_Create_New_Codes" type="xs:int"/>
			<xs:element name="Entities_Flag" type="xs:int"/>
			<xs:element name="Entities_Import_Supp" type="xs:int"/>
			<xs:element name="Entities_Update_Blank_Zero" type="xs:int"/>
			<xs:element name="Entities_Create_New_Codes" type="xs:int"/>
			<xs:element name="Entities_Match_By_TaxId" type="xs:int"/>
			<xs:element name="Entities_Match_By_Name" type="xs:int"/>
			<xs:element name="Entities_Match_By_Abbrev" type="xs:int"/> 
			<xs:element name="Policies_Flag" type="xs:int"/>
			<xs:element name="Policies_Import_Supp" type="xs:int"/>
			<xs:element name="Policies_Create_New_Codes" type="xs:int"/>
      <xs:element name="Policies_Insured_EntityID" type="xs:int"/>
      <xs:element name="Policies_Match_Insured_TaxID" type="xs:int"/>
      <xs:element name="Policies_Match_Insured_Name" type="xs:int"/>
      <xs:element name="Policies_Match_Insured_Abbrev" type="xs:int"/>
      <xs:element name="Policies_Insurer_EntityID" type="xs:int"/>
      <xs:element name="Policies_Match_Insurer_TaxID" type="xs:int"/>
      <xs:element name="Policies_Match_Insurer_Name" type="xs:int"/>
      <xs:element name="Policies_Match_Insurer_Abbrev" type="xs:int"/>
      <xs:element name="Policies_Insured_Claimant" type="xs:int"/>
      <xs:element name="Policies_Import_Additional_Interest" type="xs:int"/>
      <xs:element name="Policies_Import_Additional_Interest_TaxID" type="xs:int"/>
      <xs:element name="Policies_Import_Additional_Interest_Name" type="xs:int"/>
      <xs:element name="Reserves_Flag" type="xs:int"/>
			<xs:element name="Reserves_Create_New_Codes" type="xs:int"/>
			<xs:element name="Reserves_Check_Duplicate_Reserves" type="xs:int"/>
			<xs:element name="OrgExpo_Flag" type="xs:int"/>
			<xs:element name="OrgExpo_Import_Supp" type="xs:int"/>
			<xs:element name="OrgExpo_New_Records_Only" type="xs:int"/>
			<xs:element name="OrgExpo_Update_Blank_Zero" type="xs:int"/>
			<xs:element name="OrgExpo_Create_New_Codes" type="xs:int"/>
			<xs:element name="Patients_Flag" type="xs:int"/>
			<xs:element name="Patients_Import_Supp" type="xs:int"/>
			<xs:element name="Patients_Validate_Data_Only" type="xs:int"/>
			<xs:element name="Patients_Match_Patient" type="xs:int"/>
			<xs:element name="Patients_Create_New_Codes" type="xs:int"/>
			<xs:element name="Patients_Match_Patient_Number" type="xs:int"/>
			<xs:element name="Physicians_Flag" type="xs:int"/>
			<xs:element name="Physicians_Import_Supp" type="xs:int"/>
			<xs:element name="Physicians_Validate_Data" type="xs:int"/>
			<xs:element name="Physicians_Create_New_Codes" type="xs:int"/>
     	<xs:element name="Physicians_Match_Physicians_Number" type="xs:int"/>
			<xs:element name="MedicalStaff_Flag" type="xs:int"/>
			<xs:element name="MedicalStaff_Import_Supp" type="xs:int"/>
			<xs:element name="MedicalStaff_Validate_Data" type="xs:int"/>
			<xs:element name="MedicalStaff_Create_New_Codes" type="xs:int"/>
		  <xs:element name="AdminTrack_Flag" type="xs:int"/>
			<xs:element name="AdminTrack_Area" type="xs:string"/>
			<xs:element name="AdminTrack_Add_Update" type="xs:int"/>
			<xs:element name="AdminTrack_Create_New_Codes" type="xs:int"/>
			<xs:element name="AdminTrack_Match_Field" type="xs:string"/>		
			<xs:element name="Diary_To_Users" type="xs:string"/> 
	  </xs:all>
    </xs:complexType>
  </xs:element>
</xs:schema>